<div class="container">
    <div class="d-flex flex-wrap">
        <p>
            ERA is a digital repository of original research produced at The University of Edinburgh. 
            The archive contains documents written by, or affiliated with, academic authors, or units, based at Edinburgh that have sufficient quality to be collected and preserved by the Library, 
            but which are not controlled by commercial publishers. Holdings include full-text digital doctoral theses, masters dissertations, project reports, briefing papers and out-of-print materials.
        </p>
        <p>
            Information on current research activity including staff, projects and publications is available via the Edinburgh Research Explorer.
        </p>
    </div>
</div>