nav {
    background-color: #456f9c;
    font-weight: 300;
}
.dropdown-toggle::after {
    color: #fff!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
}
:host {

    .navbar-section {

            ::ng-deep a.nav-link.dropdown-toggle,
            ::ng-deep a.nav-link.dropdown-toggle:hover {
                color: white;
            }
        }
    }
