.container {
    padding-top: 1.5rem;
    border-top: 1px solid #dee2e6 !important;
}
.footer-links {
    text-align: center;
    font-size: 18px;
}
.footer-img-cont img {
    margin-right: 1rem;
    margin-left: 1rem;
}
.rss-dropdown {
    
}
.footer-rss {
    display: table-caption;
    margin-left: 4rem;
}