<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3">
                <div class="footer-img-cont">
                    <a title="Library &amp; University Collections Home" target="_blank" href="https://www.ed.ac.uk/schools-departments/information-services/about/organisation/library-and-collections">
                        <img alt="Library &amp; University Collections logo" title="Library &amp; University Collections Home" src="assets/era/images/collections-luc-logo.png" class="luc-logo">
                    </a>
                    <a title="University of Edinburgh Information Services Home" target="_blank" href="https://www.is.ed.ac.uk">
                        <img alt="University of Edinburgh Information Services logo" title="University of Edinburgh Information Services Home" src="assets/era/images/is-logo.gif" class="is-logo">
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-7 hidden-xs footer-links">
                <a target="_blank" title="Privacy and Cookies Link" href="https://www.ed.ac.uk/about/website/privacy">Privacy &amp; Cookies</a>  |  <a title="Takedown Policy Link" href="https://www.ed.ac.uk/schools-departments/information-services/services/research-support/publish-research/scholarly-communications/sct-policies/sct-policies-take-down">Takedown Policy</a>  |  <a title="Website Accessibility Link" href="/accessibility">Accessibility</a>  |  <a title="Contact the Edinburgh Research Archive" href="https://www.ed.ac.uk/information-services/research-support/publish-research/scholarly-communications/open-access-help">Contact</a>
            </div>
            <div class="col-xs-3 col-sm-2 rss-dropdown">
                <div class="footer-links footer-rss">
                    <img title="xmlui.mirage2.navigation.rss.feed" alt="RSS feed icon" class="btn-xs" src="assets/era/images/rss-icon.png">
                    <a title="RSS pop-up link" class="rss-dropdownbtn">
                        RSS Feeds 
                    </a>
                </div>
                <!-- <div class="rss-content">
                    <div class="rss-block">
                        <a title="RSS feed link" class="list-group-item rss-item" href="/feed/rss_1.0/site"><img alt="feed" title="xmlui.mirage2.navigation.rss.feed" class="btn-xs" src="assets/era/images/rss-icon.png">1.0</a>
                        <a title="RSS feed link" class="list-group-item rss-item" href="/feed/rss_2.0/site"><img alt="feed" title="xmlui.mirage2.navigation.rss.feed" class="btn-xs" src="assets/era/images/rss-icon.png">2.0</a>
                        <a title="RSS feed link" class="list-group-item rss-item" href="/feed/atom_1.0/site"><img alt="feed" title="xmlui.mirage2.navigation.rss.feed" class="btn-xs" src="assets/era/images/rss-icon.png">Atom</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <a class="hidden" href="/htmlmap/accessibility">&nbsp;</a>
    <p>&nbsp;</p>
</footer>